/* src/App.css */

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  flex-direction: column;
  background-color: rgb(27, 27, 27);
}
.App h1{
  margin-top: -190px;
  color: rgb(224, 234, 234);
  margin-bottom: 60px;
  font-size: 60px;
}